In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from datetime import datetime

In [2]:
df=pd.read_excel("D:/Journal paper work/Serbia_data_new/summer.xlsx")

In [3]:
lower_limit = 4
upper_limit = 17
df = df[(df['Hour'] >= lower_limit) & (df['Hour'] <= upper_limit)]

In [4]:
max_value1 = df['GHI'].max()
min_value1 = df['GHI'].min()

print("GHI(max):", max_value1)
print("GHI(min):", min_value1)

GHI(max): 984.1595
GHI(min): 0.8568

In [5]:
df['GHI1'] = df['GHI'].shift(1)
df['GHI2'] = df['GHI'].shift(2)
df['GHI3'] = df['GHI'].shift(3)
df['GHI4'] = df['GHI'].shift(4)
df['GHI5'] = df['GHI'].shift(5)
df['GHI6'] = df['GHI'].shift(6)
df['GHI7'] = df['GHI'].shift(7)
df['GHI8'] = df['GHI'].shift(8)
df['GHI9'] = df['GHI'].shift(9)
df['GHI10'] = df['GHI'].shift(10)
df['GHI11'] = df['GHI'].shift(11)
df['GHI12'] = df['GHI'].shift(12)
df['GHI13'] = df['GHI'].shift(13)
df['GHI14'] = df['GHI'].shift(14)

In [6]:
df.dropna(inplace=True)
df.head()

,DT,Year,Month,Day,Hour,Precipitation,Temperature,GHI,TOA Irradiance,Snowfall,...,GHI5,GHI6,GHI7,GHI8,GHI9,GHI10,GHI11,GHI12,GHI13,GHI14
28,2010-05-02 04:00:00,2010,5,2,4,0.0001,11.922,97.3309,217.2934,0.0,...,695.8877,821.3810,898.1640,920.7585,886.7784,797.6921,662.7102,492.2326,302.6286,117.7852
29,2010-05-02 05:00:00,2010,5,2,5,0.0001,14.047,264.1290,457.3995,0.0,...,532.4074,695.8877,821.3810,898.1640,920.7585,886.7784,797.6921,662.7102,492.2326,302.6286
30,2010-05-02 06:00:00,2010,5,2,6,0.0000,16.497,455.8140,683.0053,0.0,...,344.8632,532.4074,695.8877,821.3810,898.1640,920.7585,886.7784,797.6921,662.7102,492.2326
31,2010-05-02 07:00:00,2010,5,2,7,0.0001,19.343,630.2016,878.6580,0.0,...,155.7117,344.8632,532.4074,695.8877,821.3810,898.1640,920.7585,886.7784,797.6921,662.7102
32,2010-05-02 08:00:00,2010,5,2,8,0.0002,21.161,756.4253,1031.2139,0.0,...,18.4071,155.7117,344.8632,532.4074,695.8877,821.3810,898.1640,920.7585,886.7784,797.6921

In [7]:
from sklearn.preprocessing import MinMaxScaler
columns_to_normalize = ['GHI','GHI1','GHI2','GHI3','GHI4','GHI5','GHI6','GHI7','GHI8','GHI9','GHI10','GHI11','GHI12','GHI13','GHI14']
scaler = MinMaxScaler()

df[columns_to_normalize] = scaler.fit_transform(df[columns_to_normalize])
df.head()

,DT,Year,Month,Day,Hour,Precipitation,Temperature,GHI,TOA Irradiance,Snowfall,...,GHI5,GHI6,GHI7,GHI8,GHI9,GHI10,GHI11,GHI12,GHI13,GHI14
28,2010-05-02 04:00:00,2010,5,2,4,0.0001,11.922,0.098112,217.2934,0.0,...,0.706833,0.834457,0.912544,0.935522,0.900965,0.810366,0.673092,0.499720,0.306896,0.118914
29,2010-05-02 05:00:00,2010,5,2,5,0.0001,14.047,0.267743,457.3995,0.0,...,0.540577,0.706833,0.834457,0.912544,0.935522,0.900965,0.810366,0.673092,0.499720,0.306896
30,2010-05-02 06:00:00,2010,5,2,6,0.0000,16.497,0.462683,683.0053,0.0,...,0.349848,0.540577,0.706833,0.834457,0.912544,0.935522,0.900965,0.810366,0.673092,0.499720
31,2010-05-02 07:00:00,2010,5,2,7,0.0001,19.343,0.640032,878.6580,0.0,...,0.157484,0.349848,0.540577,0.706833,0.834457,0.912544,0.935522,0.900965,0.810366,0.673092
32,2010-05-02 08:00:00,2010,5,2,8,0.0002,21.161,0.768399,1031.2139,0.0,...,0.017848,0.157484,0.349848,0.540577,0.706833,0.834457,0.912544,0.935522,0.900965,0.810366

In [8]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [9]:
X=df[['GHI1','GHI2','GHI3','GHI4','GHI5','GHI6','GHI7','GHI8','GHI9','GHI10','GHI11','GHI12','GHI13','GHI14']]
y=df[['GHI']]

In [10]:
split_index = int(len(X) * 0.9)

X_train, X_test = X[:split_index], X[split_index:]
y_train, y_test = y[:split_index], y[split_index:]

rfr = RandomForestRegressor(n_estimators=100, random_state=42)
rfr.fit(X_train, y_train)

y_pred = rfr.predict(X_test)

rmse_rf = mean_squared_error(y_test, y_pred, squared=False)
mae_rf = mean_absolute_error(y_test, y_pred)
r2_rf = r2_score(y_test, y_pred)

max_value = 984.1595
min_value = 0
original_rmse = rmse_rf * (max_value - min_value) + min_value
original_mae = mae_rf * (max_value - min_value) + min_value

print('RMSE:', original_rmse)
print('MAE:', original_mae)
print('R-squared:', r2_rf)

C:\Users\suraj\AppData\Local\Temp\ipykernel_7964\156360335.py:7: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rfr.fit(X_train, y_train)

RMSE: 17.160162891972007
MAE: 10.968928073067088
R-squared: 0.9960455814721741

In [11]:
y_test = np.squeeze(y_test)
max_val = 984.1595
min_val = 0
y_test_actual = y_test * (max_val - min_val) + min_val
y_pred_actual = y_pred * (max_val - min_val) + min_val
y_test_actual = np.round(y_test_actual, 3)
y_pred_actual = np.round(y_pred_actual, 3)

cross_checking = pd.DataFrame({'Actual': y_test_actual, 'Predicted': y_pred_actual})
print(cross_checking.tail(20))

        Actual  Predicted
26532  612.498    615.490
26533  482.895    477.071
26534  338.482    338.212
26535  190.447    196.616
26536   62.327     70.226
26537    0.563      0.501
26548   46.797     51.726
26549  198.686    153.400
26550  378.196    370.890
26551  549.558    549.404
26552  686.273    674.419
26553  767.950    770.411
26554  792.455    786.614
26555  765.362    755.367
26556  692.312    687.400
26557  560.157    569.976
26558  401.589    401.041
26559  224.019    229.359
26560   69.111     75.807
26561    0.359      0.477

In [12]:
from sklearn.svm import SVR
svr = SVR(kernel='rbf')
svr.fit(X_train, y_train)

y_pred = svr.predict(X_test)

rmse_svr = mean_squared_error(y_test, y_pred, squared=False)
mae_svr = mean_absolute_error(y_test, y_pred)
r2_svr = r2_score(y_test, y_pred)


max_value = 984.1595
min_value = 0
original_rmse = rmse_svr * (max_value - min_value) + min_value
original_mae = mae_svr * (max_value - min_value) + min_value

print('RMSE:', original_rmse)
print('MAE:', original_mae)
print('R-squared:', r2_svr)

RMSE: 47.97108359931783
MAE: 40.709760370990644
R-squared: 0.9690971255457336

C:\Users\suraj\anaconda3\lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [13]:
from sklearn.neighbors import KNeighborsRegressor
knn = KNeighborsRegressor(n_neighbors=10)
knn.fit(X_train, y_train)
y_pred_knn = knn.predict(X_test)
rmse_knn = mean_squared_error(y_test, y_pred_knn, squared=False)
mae_knn = mean_absolute_error(y_test, y_pred_knn)
r2_knn = r2_score(y_test, y_pred_knn)


max_value = 984.1595
min_value = 0
original_rmse = rmse_knn * (max_value - min_value) + min_value
original_mae = mae_knn * (max_value - min_value) + min_value

print('RMSE:', original_rmse)
print('MAE:', original_mae)
print('R-squared:', r2_knn)

RMSE: 31.96919648369364
MAE: 21.29787237931924
R-squared: 0.9862752873095093

In [14]:
from sklearn.neural_network import MLPRegressor

X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

mlp = MLPRegressor(hidden_layer_sizes=(40, 40, 40, 40, 40), activation='relu', solver='adam', max_iter=100, random_state=42)
mlp.fit(X_train_scaled, y_train)
y_pred = mlp.predict(X_test_scaled)

rmse_ann = mean_squared_error(y_test, y_pred, squared=False)
mae_ann = mean_absolute_error(y_test, y_pred)
r2_ann = r2_score(y_test, y_pred)

max_value = 984.1595
min_value = 0
original_rmse = rmse_ann * (max_value - min_value) + min_value
original_mae = mae_ann * (max_value - min_value) + min_value

print('RMSE:', original_rmse)
print('MAE:', original_mae)
print('R-squared:', r2_ann)

C:\Users\suraj\anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:1617: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

RMSE: 20.565087357087375
MAE: 14.784473617314632
R-squared: 0.9943206198723978